{% extends 'base.html' %}
 {% load static %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  {% endblock %}
 {% block content %}
<div style="height: 700px;">
 <div class="register-box">
        <h2 style="text-align: center;">Register</h2>
    <form action="#" method="post">
        {% csrf_token %}
        <label class="register-label" for="username">Username:</label>
       {{ form.username }}
        <br>
        <label class="register-label"  for="first_name">First Name:</label>
       {{ form.first_name }}
        <br>
        <label class="register-label"  for="last_name">Last Name:</label>
       {{ form.last_name }}
        <br>
        

        <label class="register-label"  for="email">Email:</label>
       {{ form.email }}
        <br>
        <label class="register-label"  for="password1">Password:</label>
       {{ form.password1 }}
        <br>
        <label class="register-label" for="password2">Confirm Password:</label>
       {{ form.password2 }}     
        <br>    

        <button type="submit" class="register-btn">Register</button>
        <br>
        <br>
        <a class="register-a" href="{% url 'accounts:login' %}">Already have an account? <span style="color: #0071e3;">Login</span></a>
        
        </div>
        </div>
{% endblock %}