{% extends 'base.html' %}
 {% load static %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/financing.css' %}">
  {% endblock %}
 {% block content %}
<!-- navbar end -->



<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
            <div class="div2">
        <h3 class="h3">Buy Apple Devices Now, Pay Later</h3>
        <p class="p3">Dreaming of an iPhone, iPad, Mac, Apple Watch, or AirPods, but not ready to pay the full amount up front? With iSpace, you don't have to. We offer installment plans and credit on favorable terms. Choose a device on our website or in an iSpace store and pay for it in installments. </p>
		<h3 class="h4">Reliable Credit Partners for Purchasing Apple Products in Azerbaijan</h3>
        <p class="p3">iSpace is an official Apple dealer in Azerbaijan with Apple Premium Partner status. Our partners include the country's leading banks: <br><br>Birbank (Kapital Bank); TamKart (ABBank); Leo Bank; Ucard (Unibank); Bolkart (Bank of Baku); Yapı Kredi (Bank of Baku); Yello Bank (Bank of Baku) </p>
		
        </div>
		</div>
		<div class="col-md-6">
      <img class="img2" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/rich-block/e6/47/e6479c80e1be0e79cf713d19e8763eac/annika_wischnewsky_kw_mhg8m0lo_unsplash.webp" alt="">
		</div>
	</div>   
    
</div>

  <hr style="background-color: #7D7D7D; opacity: 0.3; width: 1270px; margin-top: 50px;">


<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
        <img class="img1" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/rich-block/f9/ae/f9ae98e86c9113c827f442ed3497c13a/ispace_22.webp" alt="">
		</div>
		<div class="col-md-6">
		<div class="div2">
        <h3 class="h3">Choose a Convenient Payment Method at iSpace</h3>
        <p class="p3"><span style="font-weight: 500;">- 0% installment plan</span> for a period of 2 to 24 months. Valid for a wide range of equipment. <br><br><span style="font-weight: 500;">- Standard loan</span> from Ferrum Capital for a period of 6 to 12 months. Valid for any <br>product.</p>
		<h3 class="h4">Maximum Benefits: Trade-in and Installment Plans </h3>
        <p class="p3">At iSpace, you can buy Apple devices through Trade-in—trade in your old device to offset the cost of a new one. The remaining amount can be paid in installments or with a loan. This way, the final payment will be even lower. </p>
		
        </div>
    </div>
	</div>   
    
</div>


  <hr style="background-color: #7D7D7D; opacity: 0.3; width: 1270px; margin-top: 50px;">

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
            <div class="div2">
        <h3 class="h3">Why Is It Worth Purchasing Apple Devices on Credit at iSpace?</h3>
        <p class="p3"><span style="font-weight: 500;">- Installment plans</span> without overpayments or hidden fees. <br><br><span style="font-weight: 500;">- Flexible terms:</span> select the term and payment amount directly on ispace.az. <br><br><span style="font-weight: 500;">- Quick and convenient processing –</span> iSpace consultants will complete all the paperwork for you. <br><br><span style="font-weight: 500;">- Home delivery:</span> when you buy online, a courier will bring the goods and the credit agreement directly to your home (available in Baku). </p>  
        </div>
		</div>
		<div class="col-md-6">
      <img class="img2" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/rich-block/aa/46/aa46f68e10b8984548bb67fb3e2ef98e/ispace_40.webp" alt="">
		</div>
	</div>   
    
</div>
  <hr style="background-color: #7D7D7D; opacity: 0.3; width: 1270px; margin-top: 50px;">

  <div>
    <p class="p4">Buy Apple devices on credit or in installments at iSpace, Apple's authorized partner in Azerbaijan with Apple Premium Partner status. You choose the term and the convenient <br>payment amount. All our equipment is new, original, and comes with an official warranty.</p>  
  </div>































  <script>
    const track = document.getElementById('track');
    const btnLeft = document.getElementById('leftBtn');
    const btnRight = document.getElementById('rightBtn');

    btnLeft.addEventListener('click', () => {
      track.scrollBy({ left: -300, behavior: 'smooth' });
    });

    btnRight.addEventListener('click', () => {
      track.scrollBy({ left: 300, behavior: 'smooth' });
    });
  </script>










  {% endblock %}