{% extends 'base.html' %}
 {% load static %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/offers.css' %}">
  {% endblock %}
 {% block content %}

  
  















<!-- -------------- -->
<div>
<div style="display: flex; margin-top: 30px; margin-left: 50px;">
    
  <div class="div2">
    <h3 class="h3">This happens only once a year.</h3>
    <p class="p3">18-month installment plan for iPhone. <br>Hurry up - offer valid until November 30.</p>
    
    <a href="">
      <button class="card-button">Go to</button>
    </a>
    
  </div>
  <div>
      <img class="img2" style="margin-left: 0px;" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/static-pages/b4/e6/b4e624e5f9882db1fe0708519c824832/enen.webp" alt="">
  </div>
</div>



<div style="display: flex; margin-top: 30px;">
  <div>
      <img class="img1" style="margin-left: 50px;" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/static-pages/c4/d3/c4d3f9ef10b7c57706f5f387a0ba12a2/frame_2087331528.webp" alt="">
  </div>
  <div class="div">
      <h3 class="h3">Great deals for the new school year</h3>
      <p class="p3">A powerful way to explore, create, and learn.</p>

      <a href="{% url 'core:iphone' %}">
      <button class="card-button">Go to</button>
      </a>

  </div>
</div>



<div style="display: flex; margin-top: 30px; margin-left: 50px;">
    
  <div class="div2">
    <h3 class="h3">More choices. More ways to shop.</h3>
    <p class="p3">until November 15. <br>Only when paying with Visa cards</p>
    
    <a href="{% url 'core:giftcards' %}">
      <button class="card-button">Go to</button>
    </a>
    
  </div>
  <div>
      <img class="img2" style="margin-left: 0px;" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/static-pages/1c/c9/1cc991f4eca682d5468d112c53b871cf/1eng.webp" alt="">
  </div>
</div>

<div style="display: flex; margin-top: 30px;">
  <div>
      <img class="img1" style="margin-left: 50px;" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/static-pages/a9/32/a932a68dd4e69b58fa76f1301e8ebd6f/frame_2087331524.webp" alt="">
  </div>
  <div class="div">
      <h3 class="h3">Switch to MacBook Air — easy and smart.</h3>
      <p class="p3">Starting from 62 AZN per 18 months. <br>Only until November 30</p>

      <a href="{% url 'core:mac' %}">
      <button class="card-button">Go to</button>
      </a>

  </div>
</div>

<div style="display: flex; margin-top: 30px; margin-left: 50px;">
    
  <div class="div2">
    <h3 class="h3">Open box.</h3>
    <p class="p3">Get the same Apple quality — just at a better price.</p>
    
    <a href="{% url 'core:mac' %}">
      <button class="card-button">Learn more</button>
    </a>
    
  </div>
  <div>
      <img class="img2" style="margin-left: 0px;" src="https://cdn0.it4profit.com/s3size/el:t/rt:fill/plain/s3://cms/static-pages/59/80/59806c41c98481d19767af791291d242/1080x600_banner_1_mob_1.webp" alt="">
  </div>
</div>
</div>
  <hr style="background-color: #7D7D7D; opacity: 0.3; width: 1280px;">

  <div style="margin-top: 40px; margin-left: 40px;">
    <h2 class="info-h2">All Apple Promotions and Special Offers</h2>
    <p style="margin-top: 30px;" class="info-p">Buying Apple products at iSpace is not only enjoyable but also a profitable experience. We offer ongoing discounts on iPhones, MacBooks, iPads, Apple Watches, AirPods, and <br>accessories. These include both seasonal Apple promotions and permanent offers. <br>This page lists all current special offers on Apple products from iSpace and our partners. Don't miss the opportunity to buy an iPhone at a discount from an official Apple dealer in <br>Azerbaijan!</p>
    <h5 style="margin-top: 30px;" class="info-h5">Seasonal and Occasional Promotions</h5>
    <p style="margin-top: 30px;" class="info-p">The best offers from Apple and authorized resellers are often timed to coincide with key events. These can be holidays, the launch of new products, or Apple sales. For example, in <br>the run-up to Christmas, Valentine's Day, Nowruz, the new school year, and other holidays, you can buy products at a discount or receive bonuses and gifts from Apple. The main <br>feature of such offers is their limited duration. To avoid missing out on the benefits, it is worth checking this page regularly or joining the iSpace loyalty program — a closed club <br>whose members are the first to receive notifications about Apple promotions and can pay for purchases at iSpace with bonus points. Registration is free and takes about 3 minutes.</p>
    <h5 style="margin-top: 30px;" class="info-h5">Permanent Offers</h5>
    <p style="margin-top: 30px;" class="info-p">In addition to seasonal sales, iSpace has permanent offers for great deals:</p>
    <p style="margin-top: 30px; margin-left: 20px;" class="info-p"><span style="font-weight: 700;">Trade-in</span> – exchange your old device for a new one with an additional payment. You can find out more about this in the Trade-in section.
<br>0% installment plans and loans from partner banks. You can buy Apple products with <span style="font-weight: 700;">payment in installments</span> both online and in physical stores in Baku.
<br>“Open box” is a category of Apple devices that have already been unpacked and activated, but have been fully tested and are sold with a full set of accessories. <br>The price for such <span style="font-weight: 700;">devices</span> is lower.
<br>There is also a <span style="font-weight: 700;">careful delivery</span> throughout the country.</p>
    <h5 style="margin-top: 30px;" class="info-h5">Why Is It Beneficial to Follow Promotions on iSpace.az?</h5>
    <p style="margin-top: 30px;" class="info-p">Because this way you can buy a premium Apple device at a great price. It will be new, original, and come with an official warranty, as iSpace is Apple's official partner in Azerbaijan <br>with the prestigious Apple Premium Partner status. All Apple promotions are listed on this page for your convenience.</p>
    <h5 style="margin-top: 30px;" class="info-h5">5 Reasons to Buy an Apple Device at iSpace</h5>
    <p style="margin-top: 30px;" class="info-p">1. All the latest products are always in stock, along with a wide selection of accessories.
<br>
2. Open display in offline stores — you can test and compare the gadgets you like. And iSpace experts will help you make the right choice.
<br>
3. Consultations and personalized training.
<br>
4. Premium service — accessory selection, protective glass installation, data transfer, new device setup, and much more.
<br>
5. Regular Apple promotions, cashback for purchases through the loyalty program.
<br>
<br>
Visit us today and discover how easy and enjoyable it can be to choose your next device.</p>
    <h5 style="margin-top: 30px;" class="info-h5">Choose Your Dream Device Right Now</h5>
    <p style="margin-top: 30px;" class="info-p">Today, you can buy your favorite Apple gadget at a great price. Click on a specific offer and choose the best one for you. Our consultants will answer your questions and tell you all about the terms and conditions. Stay tuned for updates on this page: all Apple promotions are waiting for you here.</p>
</div>



































  <script>
    const track = document.getElementById('track');
    const btnLeft = document.getElementById('leftBtn');
    const btnRight = document.getElementById('rightBtn');

    btnLeft.addEventListener('click', () => {
      track.scrollBy({ left: -300, behavior: 'smooth' });
    });

    btnRight.addEventListener('click', () => {
      track.scrollBy({ left: 300, behavior: 'smooth' });
    });
  </script>






{% endblock %}